@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600;700&family=Google+Sans+Display:wght@400;500;600;700&display=swap');


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f8fafd;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c2d3f5;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #93b4f0;
}
